.vscode
algorithm/main.exe
bd/
ip_repo/fetch_unit_1_0/drivers/
ip_repo/fetch_unit_1_0/example_designs/
ip_repo/fetch_unit_1_0/xgui/
ip_repo/fetch_unit_v1_0_project/
testing/
vivado_project/
.vscode/
ip_repo/fetch_unit_1_0/fetch_unit_v1_0_project/
*.xml
vitis_project/.metadata/
vitis_project/ads_mm2s/
vitis_project/ads_app_system/
vitis_project/ads_mm2s_system/
vitis_project/ads_plaform/
vitis_project/RemoteSystemsTempFiles/
*.log
vitis_project/ads_input_system/
vitis_project/ads_app/.project
tb/ram.txt
vitis_project/.analytics
vitis_project/ads_app/src/ps7_init.h
rtl/xgui/top_v1_0.tcl
vitis_project/ads_app/.cproject
vitis_project/ads_app/.gitignore
vitis_project/ads_app/ads_app.prj
vitis_project/ads_app/_ide/hwspec.checksum
vitis_project/ads_app/_ide/bitstream/block_design_wrapper.bit
vitis_project/ads_app/_ide/psinit/ps7_init.tcl
vitis_project/ads_app/src/lscript.ld
vitis_project/ads_app/src/platform_config.h
vitis_project/ads_app/src/platform.c
vitis_project/ads_app/src/platform.h
vitis_project/ads_app/src/ps7_init.c
vitis_project/ads_app/src/Xilinx.spec
vitis_project/ads_input/.cproject
vitis_project/ads_input/.gitignore
vitis_project/ads_input/.project
vitis_project/ads_input/ads_input.prj
vitis_project/ads_input/_ide/hwspec.checksum
vitis_project/ads_input/_ide/bitstream/block_design_wrapper.bit
vitis_project/ads_input/_ide/psinit/ps7_init.tcl
vitis_project/ads_input/src/lscript.ld
vitis_project/ads_input/src/platform_config.h
vitis_project/ads_input/src/platform.c
vitis_project/ads_input/src/platform.h
vitis_project/ads_input/src/Xilinx.spec
